<template>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <MainHeader/>
  <KartenKarusell/> <!-- Nur Mobil -->
  <VerlaufMobil/> <!-- Nur Mobil -->
  
  <div>
    <InfoTexte/> 
  </div>
  <div>
    <VerfahrenList />
    <VerfahrenCollapse />
  </div>

  <div>
    <FAQ/> <!--nur Desktop-->
  </div>
  <div>
    <UberUns/> <!--nur Desktop-->
  </div>
  <div>
    <MainFooter/>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import HelloWorld from '@/components/MainBody.vue'; // @ is an alias to /src
import MainHeader from '@/components/MainHeader.vue';
import FAQ from '@/components/FAQ.vue';
import VerfahrenList from '@/components/VerfahrenList.vue';
import MainFooter from '@/components/MainFooter.vue';
import VerfahrenCollapse from '@/components/VerfahrenCollapse.vue';
import KartenKarusell from '@/components/KartenKarusell.vue';
import UberUns from '@/components/UberUns.vue';
import VerlaufMobil from '@/components/VerfahrenVerlauf.vue';
import InfoTexte from '@/components/Infotexte.vue';



@Options({
  components: {
    HelloWorld,
    MainHeader,
    KartenKarusell,
    FAQ,
    VerfahrenList,
    MainFooter,
    VerfahrenCollapse,
    UberUns,
    VerlaufMobil,
    InfoTexte
  },
})
export default class HomeView extends Vue {}
</script>


<style scoped>

</style>
