<template>
    <div class="notFound">
        <img alt="Vue logo" src="../assets/logo.png">
        <h1>
            Not Found!
        </h1>

        <p> 
            Wir konnten die von Ihnen angefragte Adresse nicht finden

            <router-link to="/">home</router-link>
        </p>
    </div>
</template>


<script lang="ts">
import { Vue } from 'vue-class-component';

export default class NotFound extends Vue {}
</script>