<template>
    <MainHeader/>
    <div class="ganzRegisterLogin">
      <LoginForm v-if="registered"/>
      <RegisterForm v-else/>
      <router-link :to="registered?'register':'login'" style="text-decoration-line:underline; font-size: small; color:inherit">{{ registered ? "Noch keinen Account? Registrieren" : "Bereits einen Account? Anmelden" }}</router-link>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import LoginForm from '@/components/Login.vue';
import RegisterForm from '@/components/Register.vue';
import MainHeader from '@/components/MainHeader.vue';

export default defineComponent({
  name: 'RegisterLoginView',
  components: {
    MainHeader,
    LoginForm,
    RegisterForm,
  },
  props: {
    registered: {
      type: Boolean,
      default: true,
    }
  }
});
</script>

<style scoped>

</style>