<template>
    <!--Der Header ist außerhalb des FAQ-containers da der Container seperat einen blauen Rand bekommen sollte-->
        <div class="FAQ-Header" id="FAQ-Header">
            <h1><b>FAQ</b></h1>
        </div>
    <section class="FAQ-container" >
        <div class="FAQFrage" @click="klappen('1')" type="button">
            <h3>Wie verläuft der Weg zum Volksentscheid?</h3>
                <p id="Absatz1">
                    Wie auch in allen anderen Bundesländern können Bürger*innen in Berlin in einem Volksentscheid über einzelne Gegenstände der Landespolitik selbst entscheiden. Die dreistufige Volksgesetzgebung gibt Bürger*innen das Recht, selbst Gesetzesinitiativen zu starten und bei genügend Unterschriften einen berlinweiten und verbindlichen Volksentscheid dazu herbeizuführen. Die Stufen beim Volksentscheid lauten: Antrag auf Volksbegehren, Volksbegehren und Volksentscheid. Insgesamt dauert ein Verfahren bis zum Entscheid ca. 2 Jahre.
                </p>
        </div>

        <div class="FAQFrage" @click="klappen('2')" type="button">
            <h3> Was ist ein Antrag auf Volksbegehren?</h3>
                <p id="Absatz2">
                    Der "Antrag auf Durchführung eines Volksbegehrens" - auch Zulassungsantrag genannt - kann von Einzelpersonen, einer Mehrheit von Personen, Personenvereinigungen oder Parteien bei der Senatsverwaltung für Inneres gestellt werden. Er stellt die erste Stufe im Verfahren zum Volksentscheid dar. Ein Volksbegehren zur Änderung eines Gesetzes bzw. zu sonstigen Gegenständen muss von mindestens 20.000 wahlberechtigten Bürgerinnen und Bürgern unterstützt werden. Bei einem Antrag auf Parlamentsauflösung oder bei Verfassungsänderungen sind 50.000 Unterschriften erforderlich.
                </p>
        </div>
        
        <div class="FAQFrage" @click="klappen('3')" type="button">
            <h3>Was ist ein Volksbegehren?</h3>
                <p id="Absatz3">
                    Bei Zulässigkeit des Volksbegehrensantrags kann das Abgeordnetenhaus innerhalb von vier Monaten das Anliegen übernehmen. Ansonsten kann innerhalb eines Monats ein Volksbegehren beantragt werden. Es ist zustande gekommen, wenn es innerhalb von vier Monaten von sieben Prozent der zum Abgeordnetenhaus von Berlin Wahlberechtigten unterstützt wird - bei Volksbegehren zu Verfassungsänderungen oder einer Parlamentsauflösung sind 20 Prozent nötig. 
                </p>
        </div>

        <div class="FAQFrage" @click="klappen('4')" type="button">
            <h3>Was ist ein Volksentscheid?</h3>
                <p id="Absatz4">
                    Spätestens vier Monate nach Feststellung des Zustandekommens (acht Monate bei Zusammenlegung mit einer Wahl) findet über den Gegenstand des Volksbegehrens ein Volksentscheid statt (bei einer Parlamentsauflösung nach zwei Monaten). Das Landesparlament kann einen eigenen Alternativvorschlag zur Abstimmung stellen. Der Volksentscheid unterbleibt, wenn das Abgeordnetenhaus den Gesetzentwurf des Volksbegehrens in seinem wesentlichen Bestand unverändert übernimmt. Stimmberechtigt sind alle am Tag des Volksentscheids zum Abgeordnetenhaus von Berlin Wahlberechtigten.
                </p>
        </div>

        <div class="FAQFrage" @click="klappen('5')" type="button">
            <h3>Wie kann ich ein Volksbegehren unterstützen?</h3>
                <p id="Absatz5">
                    Am besten unterstützt man einen Volksbegehrensantrag in dem du deine Unterstützungsunterschrift auf einer offiziellen Unterschriftenliste gibst. Du willst noch mehr tun? Ein Volksbegehren gelingt oft auch nur, wenn genügend ehrenamtliche Menschen Unterschriften für dieses auf der Straße sammeln. Wenn du begeistert von einer initiative bist, wende dich am besten an die Verantwortlichen und frage, wie du dich einbringen kannst.
                </p>
        </div>

        <div class="FAQFrage" @click="klappen('6')" type="button">
            <h3>Darf ich einen Volksbegehrensantrag / ein Volksbegehren unterschreiben?</h3>
                <p id="Absatz6">
                    Es sind nur Unterschriften auf den Listen von Menschen gültig, die <br>
                        <span>- in Berlin ihren Hauptwohnsitz haben<br></span>
                        <span>- 18 Jahre oder älter sind<br> </span>
                        <span>- die deutsche Staatsbürgerschaft besitzen<br></span>
                        <br>
                    Niemand hält dich davon ab und es ist auch nicht verboten einen Volksbegehrensantrag bzw. ein Volksbegehren zu unterschreiben, auch wenn die oben stehenden Kriterien nicht auf dich zutreffen. 
                </p>
        </div>

        <div class="FAQFrage" @click="klappen('7')" type="button">
            <h3>Kann ich Volksbegehren auch online unterschreiben?</h3>
                <p id="Absatz7">
                    Leider nein. Unterstützungsunterschriften für Volksbegehrensanträge und Volksbegehren dürfen laut Gesetz leider nur handschriftlich getätigt werden. Deshalb am besten auf der Straße bei Unterschriftensammler*innen oder in Geschäften unterschreiben, in denen Listen ausliegen. Die Hürden für Volksbegehren sind höher, als beispielsweise bei Petitionen, da am Ende dieses Verfahrens ein verbindlicher Entscheid steht. 
                </p>
        </div>

        <div class="FAQFrage" @click="klappen('8')" type="button">
            <h3>Ich soll auf der Straße meine Unterschrift geben - Was ist mit dem Datenschutz?</h3>
                <p id="Absatz8">
                    Wenn eine Initiative glaubt, genügend Unterschriften für einen Volksbegehrensantrag oder ein Volksbegehren zusammen zu haben, reichen sie diese bei der Senatsverwaltung für Inneres ein. Nach der Prüfung, ob die Kriterien für eine gültige Unterschrift zutreffen (Wahlalter, Staatsbürgerschaft, Wohnsitz), werden die Listen vernichtet. Daten auf unterschriftenlisten dürfen nicht an Dritte weitergegeben werden. 
                </p>
        </div>

        <div class="FAQFrage" @click="klappen('9')" type="button" border-style="none">
            <h3>Wer ist die Trägerin? Was sind Vertrauenspersonen?</h3>
                <p id="Absatz9">
                    Die Trägerin = verantwortliche Initiative, Organisation usw. <br>
                    Die Vertrauenspersonen = verantwortliche und entscheidungsberechtigte Ansprechpersonen
                </p>
        </div>
    </section>
</template>
  
<script lang="ts">
import { defineComponent } from 'vue';
export default defineComponent({
    name: "FAQ",
    methods: {
        klappen(id : string){
            const absatz = document.getElementById("Absatz" + id);
            if (absatz) {
                if (absatz.style.display == "block") {
                    absatz.style.display = "none";
                }
                else {
                absatz.style.display = "block";
                }
            } 
            else {
                console.error('Element nicht durch ID gefunden; Absatz in FAQ.vue')
            }
        },
    },
});
</script>

<style scoped>
</style>
  