<template>
    <div class="filterDialog">
        <div class="filterDialogBox">
            <h4 style="margin: 1em">Filteroptionen:</h4>
            <div style="margin: 1em">
                Phasen:
                <label><input name="Phase 1" type="checkbox" value=0 v-model="filterOptions">Phase 1 </label>
                <label><input name="Phase 2" type="checkbox" value=1 v-model="filterOptions">Phase 2 </label>
                <label><input name="Phase 3" type="checkbox" value=2 v-model="filterOptions">Phase 3 </label>
            </div>
            <div v-if="store.abgeschlossen" style="margin: 1em">
                Ergebnis:
                <label><input name="Erfolgreich" type="checkbox" value=3 v-model="filterOptions">Erfolgreich </label>
                
                <label><input name="Gescheitert" type="checkbox" value=4 v-model="filterOptions">Gescheitert </label>
            </div>
            <div>
                <strong style="margin: 0 0 1em 1em">Sortieroption: </strong>
                <select v-model="sortOption" class="sort">
                    <option value=0>Alphabetisch aufsteigend</option>
                    <option value=1>Alphabetisch absteigend</option>
                    <option value=4>Phasen aufsteigend</option>
                    <option value=5>Phasen absteigend</option>
                </select>
            </div>
    <button class="greenButton" @click="filterSortChange" style="width: 8em; height: 2em; margin-bottom: 1em;">Bestätigen</button>
    </div>
</div>
</template>
  
<script lang="ts">
import { defineComponent, watch} from 'vue';
import { useStore } from '@/store';
export default defineComponent({
    name: "FilterSortDialog",
    setup() {
      let store = useStore();
      return { store }
    },
    created() {
        watch( () => this.store.abgeschlossen,
            () => {
                this.filterOptions = [];
                this.sortOption = '0';
                this.store.filterOptions = this.filterOptions;
                this.store.sortOption = this.sortOption;
                this.store.getBackendData();
            },
        )
    },
    data() {
        return {
            filterOptions: [] as string[], // Standard: Kein Filter
            sortOption: '0',    // Standard: 0
        }
    },
    methods: {
        filterSortChange() {
            this.store.filterOptions = this.filterOptions;
            this.store.sortOption = this.sortOption;
            this.store.getBackendData();
        }
    },
});
</script>
