<template>
  <!--genereller Aufbau: dreistufigesModellContainer umfasst alles und wird dann aufgeteilt nach oberer und unterer Infotext-->
  <!--der oberer Infotext wird dann in links und rechts aufgeteilt, wobei der rechte Teil nur in der mobilen Ansicht relevant wird-->
  <!--der untere Infotext ist der Abschnitt mit den blauen Pfeilen als Hintergrund-->
<div class="dreistufigesModellContainer" id="DreistufigesModell">
  <header><h1><span class="wegkürzen">Dreistufiges </span>Volks&shy;beteiligungs&shy;verfahren in Berlin</h1></header>
      <div class="obererInfotext">
        <div class="linkeSeite">
        <p class="Infotext">
          Die dreistufige Volksgesetzgebung gibt Bürger/innen das Recht, selbst Gesetzesinitiativen zu starten und 
          bei genügend Unterschriften einen bundesweiten und verbindlichen Volksentscheid dazu herbeizuführen.<br>
           <span class="wegkürzen">Grund- und Minderheitenrechte sollen nicht zur Abstimmung stehen. Initiativen, die Grund-und Minderheitenrechte
             berühren, sollen zu einem frühen Zeitpunkt durch das Verfassungsgericht überprüft und gestoppt werden können. Um eine gute Verknüpfung
              zwischen Volksinitiative und Parlament zu gewährleisten, kann das Parlament einen eigenen Vorschlag mit zur Abstimmung stellen.
               Transparenz ist wichtig, deswegen sollte es Klauseln zur Spendenoffenlegung geben. Dann wird klar, welche Interessen hinter einer 
               Initiative stehen.</span><br>
           Mehr Demokratie e.V. hat einen Gesetzentwurf zur konkreten Ausgestaltung bundesweiter Volksentscheide erstellt, 
           der die Erfahrungen zur direkten Demokratie weltweit berücksichtigt. Mehr Informationen können Sie  <a href="https://www.mehr-demokratie.de/themen/bundesweite-volksabstimmung/bundesweite-volksabstimmung" target="_blank">hier</a> einsehen.

        </p>
        </div>
        <div class="rechteSeite">
          <img alt="Hände" src="../assets/Hand.png">
          <button class="greenButton KontaktButton"><b><a href="https://www.mehr-demokratie.de/kontakt" target="_blank">Kontakt</a></b></button>
        </div>
      </div>

      <div class="untererInfotext">
          <div class="uberschriftschritt"><h3>1. Antrag auf ein Volks&shy;begehren</h3></div>
          <div class="uberschriftschritt"><h3>2. Durchführen eines Volksbegehrens</h3></div>
          <div class="uberschriftschritt"><h3>3. Volksentscheid</h3></div>
          <div class="Schritt">
            <p>20.000 bzw. 50.000 gültige Unterschriften notwendig<br></p>
          </div>
          <div class="Schritt">
            <p>Gültige Unterschriften von 7% bzw. 20% der Wahlberechtigten notwendig<br></p>
        </div>
          <div class="Schritt">
            <p>Zustimmung der Mehrheit sowie mindestens 25% der Wahlberechtigten notwendig<br></p>
        </div>
      </div>
  </div>

  <div class="Inhaltsverzeichnis">
    <header><h2>Inhaltsverzeichnis</h2></header>
    <div class="Aufzählung">
      <ul>
        <li @click="handleScroll('DreistufigesModell')">Dreistufiges Volks&shy;beteiligungs&shy;verfahren in Berlin</li>
        <li @click="handleScroll('listHeader')">Übersicht Verfahren</li>
        <li @click="handleScroll('kampagnenDetails')">Kampagne</li>
        <li @click="handleScroll('FAQ-Header')">FAQ</li>
        <li @click="handleScroll('Uberuns-Header')">Über uns</li>
      </ul>
    </div>
  </div>

  </template>
  
  <script lang="ts">
import { defineComponent } from 'vue';
import { useStore } from '@/store';
export default defineComponent({
    name: "InfoTexte",
    methods: {
        async handleScroll(id : string) {
            const store = useStore();
            store.scrollToId(id);
        },
    },
});
  </script>
  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
  <style scoped>
  
  </style>