<template>
    <div class="karussell">
      <div @touchstart="touchStart">
        <div v-for="verfahren in store.featuredVerfahren" :key="verfahren.id">
          <div v-if="store.featuredVerfahren.indexOf(verfahren) == currentID" class="currentKar">
            <div class="boxTitle" style="margin-bottom: 0.75em">
              <router-link to="/NotFound" style="color: inherit">
                <h3>{{ verfahren.title }}</h3>
              </router-link> <!-- Link zu Detailview noch anpassen! -->
            </div>
            <div class="karBar">
              <ProgressBar :phase="verfahren.phase" :success="verfahren.success" style="background-color: #96C7EB;"/>
            </div>
            <div class="karContent">
              <p class="boxText" style="width:auto">{{ verfahren.description }}</p>
            </div>
            <div class="karFooter">
              <img alt="Pfeil links" src="@/assets/arrow-left.svg" @click="previous" style="width: 2.5em; height: 2.5em">
              <img alt="Pfeil rechts" src="@/assets/arrow-right.svg" @click="next" style="width: 2.5em; height: 2.5em">
            </div>
          </div>
        </div>
      </div>
      <button class="greenButton" @click="store.scrollToId('listHeader')" style="height: 3em; width: 80%; align-self: flex-end; margin-top: 1em;">Alle Verfahren</button>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useStore } from '@/store';
import ProgressBar from '@/components/ProgressBar.vue';

export default defineComponent({
  name: "KartenKarussell",
  components: {
    ProgressBar
  },
  setup() {
    const store = useStore();
    store.setFeatured();
    return { store }
  },
  data() {
    return {
      currentID: 0
    }
  },
  methods: {
    previous() {
      this.currentID--;
      if (this.currentID < 0) {
        this.currentID = this.store.featuredVerfahren.length-1;
      }
    },
    next() {
      this.currentID++;
      if (this.currentID >= this.store.featuredVerfahren.length) {
        this.currentID = 0;
      }
    },
    touchStart(touchEvent : TouchEvent) {
      if (touchEvent.changedTouches.length !== 1) { // Nur ein Finger
        return;
      }
      const posXStart = touchEvent.changedTouches[0].clientX;
      addEventListener('touchend', (touchEvent) => this.touchEnd(touchEvent, posXStart), {once: true});
    },
    touchEnd(touchEvent : TouchEvent, posXStart : number) {
      if (touchEvent.changedTouches.length !== 1) { // Nur ein Finger
        return;
      }
      const posXEnd = touchEvent.changedTouches[0].clientX;
      if (posXStart < posXEnd) {
        this.previous(); // swipe right
      } else if (posXStart > posXEnd) {
        this.next(); // swipe left
      }
    },
  },
});
</script>

<style scoped>

</style>