<template>
    <div class="checkin">
        <form class="anmeldform" @submit.prevent="handleSubmit">
            <h2>Login</h2>

            <label for="e-mail"><b>E-Mail</b></label>
            <input class="checkininput" id="e-mail" type="email" :v-model="email" placeholder="example@domain.com" maxlength="100" required><br>
            
            <label for="pwd"><b>Passwort</b></label>
            <input class="checkininput" id="pwd" type="password" title="min. 8 Zeichen" :v-model="password" autocomplete="current-password" minlength="8" required><br>

            <p v-if="error" class="error" style="color: red; font-size: small;">{{ error }}</p>
            
            <input id="loginMerken" type="checkbox" name="loginMerken"> <!-- Hierfür müsste man doch Cookies hinterlegen, oder? -->
            <label for="loginMerken">Anmeldedaten merken</label>
            
            <input class="checkinbutton" type="submit" value="Login">
            
            <div style="text-align: center;"> <!-- Wie sollen wir das behandeln? Machen wir das überhaupt noch? -->
                Passwort vergessen?
            </div>
        </form>
    </div>
</template>

<script lang="ts">
    import axios from 'axios';
    import { defineComponent } from 'vue';

    export default defineComponent({
    name: "LoginForm",
    data() {
        return {
            email: '',
            password: '',
            error: '',
        }
    },
    methods: {
        async handleSubmit() {
            this.error = '';
            try {
                const response = await axios.post('http://localhost:8080/login', { // Anfrage anpassen!
                    email: this.email,
                    password: this.password
                });
                // Behandle Response (token/message)
                console.log(response);
                this.$router.push('/'); // wenn erfolgreich
            } catch (e) {
                this.error = 'Anmeldung fehlgeschlagen. Bitte versuchen Sie es noch einmal.';
            }
        },
    }
    });
</script>

<style scoped>

</style>