<template>
  <!--footerBar umfasst alles footerLeft bzw footerRight die Jeweiligen Texte die dann links oder rechts angeordnet werden-->
    <div class="footerBar">
      <div class="footerLeft">
        <span>Ein Projekt der Freien Universität Berlin</span> 
      </div>
      <div class="footerRight">
        <span class="footerLink">
          <a href="https://www.mehr-demokratie.de/impressum" target="_blank">Impressum</a>
        </span>
           | 
        <span class="footerLink">       
          <a href="https://www.mehr-demokratie.de/datenschutz" target="_blank">Datenschutz</a>
        </span>
           | 
        <span class="footerLink">
          <a href="https://www.mehr-demokratie.de/kontakt" target="_blank">Kontakt</a>
        </span>
      </div>
    </div>
  </template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';

@Options({
  components: {
    MainFooter
  },
})

export default class MainFooter extends Vue { }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
  