<template>
    <!-- Desktop Header -->
    <div class="DesktopHeader">
        <div class="headerBarTop">
            <router-link to="/" style="text-decoration: none; color: inherit;">
                <span class="headerTextBold">Volksbegehren</span>
                <span class="headerTextNormal"> Berlin</span>
            </router-link>
            <img class="headerLogo" src="../assets/logo.png">
        </div>
        <div class="headerBarBottom">
            <!-- TODO: Suche - Entscheidung, ob Abschnitt auf der Seite oder ausklappendes Feld -->
            <img class="headerSearch" src="../assets/search.png">
            <!-- TODO: Verlinkung mit Abschnitten auf der Seite -->
            <span class="headerBarText">
                <div @click="handleScroll('FAQ-Header')" style="text-decoration: none; color: inherit; cursor: pointer;">FAQ</div>
            </span>
            <span class="headerBarText">
                <router-link to="/NotFound" style="text-decoration: none; color: inherit;">Erstellen</router-link>
            </span>
            <span class="headerBarText">
                <router-link to="/login" style="text-decoration: none; color: inherit;">Anmelden</router-link>
            </span>
        </div>
    </div>
    <!-- Mobiler Header -->
    <div class="MobileHeader">
        <div class="headerBarTop">
            <img class="headerLogo" src="../assets/logo_no_text.png">
            <div class="headerText" @click="scrollToTop">
                <p class="headerTextTop">Volksbeteiligung</p>
                <p class="headerTextBottom">Berlin</p>
            </div>
            <div id="headerMenu" class="headerMenu" @click="menu_toggle">
                <img class="menuSymbol" src="../assets/menu.png">
                <div id="menuContent" class="menuContent">
                    <!-- TODO: Verlinkung mit Abschnitten auf der Seite -->
                    <span class="dropdownLink">
                        <div @click="handleScroll('listHeader')" style="text-decoration: none; color: inherit; border: none; cursor: pointer;">Verfahren</div>
                    </span>
                    <span class="dropdownLink">
                        <div @click="handleScroll('Uberuns-Header')" style="text-decoration: none; color: inherit; border: none; cursor: pointer;">Über uns</div>
                    </span>
                </div>
            </div>
        </div>
        <div class="headerBarBottom">
            <!-- TODO: Verlinkung mit Abschnitten auf der Seite -->
            <span class="headerBarText">
                <router-link to="/NotFound" style="text-decoration: none; color: inherit;">Kontakt</router-link>
            </span>
            <span class="headerBarText">
                <router-link to="/login" style="text-decoration: none; color: inherit;">Login</router-link>
            </span>
            <img class="headerSearch" src="../assets/search.png">
        </div>
    </div>
</template>
  
<script lang="ts">
import { defineComponent } from 'vue';
import { useStore } from '@/store';
export default defineComponent({
    name: "MainHeader",
    created: function() {
        window.onclick = function(event) {
            if (!(event.target as HTMLElement).matches('.menuSymbol')) {
                const obj = document.getElementById("menuContent");
                if (obj) {
                    obj.style.display = "none";
                }
            }
        }
    },
    methods: {
        menu_toggle() {
            const obj = document.getElementById("menuContent");
            if (obj) {
                if (obj.style.display == "block") {
                    obj.style.display = "none";
                }
                else {
                    obj.style.display = "block";
                }
            }
        },
        async scrollToTop() {
            await this.$router.push('/'); 
            window.scrollTo(0,0);
        },
        async handleScroll(id : string) {
            const store = useStore();
            await this.$router.push('/');
            store.scrollToId(id);
        },
    },
});
</script>

<style scoped>

</style>