<template>
  <div class="ganzeBar">
    <div class="volleBar" :style="{width : barWidth + '%', backgroundColor: bgColor}">
      <p style="margin: auto 0.5em;">{{ phase+1 }}</p> <!-- TODO: Wann wird 'Phase 1' stattdessen angezeigt? -->
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: "ProgressBar",
  props: {
    phase: {
      type: Number,
      default: 0, // 0: 1. Phase, 1: 2. Phase, 2: 3. Phase
      required: true,
    },
    success: {
      type: Number,
      default: 0, // 0: laufend, 1: erfolgreich, 2: gescheitert
      required: true,
    },
  },
  computed:{
    barWidth(){
      switch(this.phase) {
        case 0:
          return '25';
        case 1:
          return '55';
        case 2:
          return '80';
        default:
          console.error('Unknown phase in ProgressBar');
          return '0'
      }
    },
    bgColor() {
      switch (this.success) {
        case 0:
          return '#004078';
        case 1:
          return '#8ABE1A';
        case 2:
          return '#AC0C0C';
        default:
          console.error('Unknown success in ProgressBar');
          return 'black';
      } 
    },
  }
});
</script>

<style scoped>

</style>