<template>
    <form class="registform" @submit.prevent="handleSubmit">
        <h2>Registrierung</h2>

        <label><b>Name</b></label>
        <input class="checkininput" type="text" id="name" name ="name" :v-model="name" placeholder="Name" maxlength="128" required><br>

        <label><b>E-Mail</b></label>
        <input class="checkininput" type="email" id="email2" name="email2" :v-model="email" placeholder="example@domain.com" maxlength="128" required><br>

        <label><b>Passwort</b></label>
        <div style="display: flex;">
            <input class="checkininput" title="min. 8 Zeichen" :type="showPassword?'text':'password'" id="passwort2" name="passwort2" :v-model="password" autocomplete="new-password" minlength="8" required>
            <img v-if="showPassword" @click="showPassword=!showPassword" src="@/assets/eye-closed.svg" width="25" height="25" style="margin: 6px auto auto 5px;">
            <img v-else @click="showPassword=!showPassword" src="@/assets/eye-open.svg" width="25" height="21" style="margin: 8px auto auto 5px;">
        </div>

        <p v-if="error" class="error" style="color: red; font-size: small;">{{ error }}</p>

        <input type="checkbox" id="akzeptieren" name="akzeptieren">
        <label for="akzeptieren">Ich akzeptiere die Nutzungsbedingungen</label><br>

        <input class="checkinbutton" type="submit" value="Registrieren">
    </form>
</template>

<script lang="ts">
import axios from 'axios';
import { defineComponent } from 'vue';

export default defineComponent({
    name: "RegisterForm",
    data() {
        return {
            name: '',
            email: '',
            password: '',
            error: '',
            showPassword: false,
        }
    },
    methods: {
        async handleSubmit() {
            this.showPassword = false; // Setze
            const pass = document.getElementById('passwort2') as HTMLInputElement;
            pass.type = 'password';
            this.error = '';
            try {
                const response = await axios.post('http://localhost:8080/register', {  // Anfrage anpassen!
                    name: this.name,
                    email: this.email,
                    password: this.password,
                })
                console.log(response);
                // je nach Antwort reagieren: OK => Login, ERROR => bleiben und wiederholen
                // möglicherweise auf Bestätigung von Admin warten?
            } 
            catch (e) {
                this.error = 'Registrierung fehlgeschlagen. Bitte versuchen Sie es noch einmal.';
            }
        }
    },
});

</script>

<style scoped>

</style>