/* CSS Style Dokument für das GESAMTE Projekt */
/* Bei Änderungen an unspezifischen Klassen vorsichtig sein */
/* z.B. unspezifische => body; spezifische => .ueberuns */

/* Definition für die gesamte Webanwendung */
body {
    font-family: "Open Sans", sans-serif;
    /* bestimmt die Schriftgröße anhand der Displaygröße */
    font-size: calc(15px + 0.4vw);
    margin: 0;
}

/* Allgemeiner Bereich (Desktop und Mobile) */
.ueberuns {
    background: #D9D9D9;
    color: rgb(1, 0, 24);
    display: inline-block;
    padding: 0 2em;
}

.FAQ-Header{
    background:#D9D9D9;
    text-align: left;
    padding: 0.2em 2em;
    margin: 2em 0;
    color: black;
    box-shadow: 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25), 
    0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.FAQ-container{
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid none;
    border-color: #004078;
    padding: 0.5em 0;
    border-width: thick;
    margin-bottom: 5%;
}

.FAQ-container h3{
    font-weight: 200;
}

.FAQFrage{
    width: auto;
    cursor: pointer;
    border-color: #000000;
    border-bottom-style: solid;
    border-width: thin;
    padding: 0 1em;
    background-color: #B7D7EF;
    text-align: left;
}

.FAQFrage:last-child {
    border-style: none;
}

.FAQFrage:hover {
    background-color: #90bde0;
}

.FAQFrage p {
    display: none;
    padding-left: 2%;
}

.FAQFrage span{
    padding-left: 2%;
}


.dreistufigesModellContainer{
    margin-bottom: 5%;
    margin-top: 5%;
    padding-top:1em;
    color:black;
    background-color: #E1E2E3;
}

.obererInfotext{
    background-color: #E1E2E3;
    padding: 20px 1em;
    text-align: left;
    display:flex;
}

.obererInfotext p{
    margin-left:2%;
}

.untererInfotext{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
    background-color: #F4F5F4;
    text-align: left;
    grid-auto-rows: max-content;
}

.Schritt{
    background-image: url("../assets/Polygonblau.svg") ;
    background-size: cover;
    background-origin: border-box;
    background-position: center;
    margin-left:2%;
    margin-bottom:2%;
}

.Schritt p{
    width:65%;
    padding-left:2%;
}

.Inhaltsverzeichnis{
    padding: 1em;
    margin-bottom: 5%;
    text-align: left;
    display: grid;
    width:50%;
    background-color: #F5F5F5;
    color:#000000;
}

.Aufzählung{
    background-color: #E1E2E3;
    margin-left: 2%;
}

.Aufzählung li{
    font-weight: bold;
}
.Aufzählung li:hover{
    text-decoration: underline;
    cursor: pointer;
}


.rechteSeite{
    display:none;
    margin-top:5%;
    margin-left:2%;
    align-items: end;
}
.rechteSeite a{
    color:white;
    text-decoration: none;
}


.footerBar a{
    color:white;
    text-decoration: none;
}

.KontaktButton {
    width: 6em;
    height: 2.5em;
    margin: auto;
}

/*spezifische Eigenschaften für den ganzen Footer */
.footerBar {
    height: auto;
    display: flex;
    justify-content: space-between;
    position: static;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    background: #004078;
    padding: 1em;
    font-size: smaller;
}

/* Linker Footer Teil, linksbündig */
.footerLeft {
    display: block;
    flex-flow: column;
    align-items: center;
    place-content: end space-between;
    width: auto;
    text-align: left;
}

/* Rechter Footer Teil, rechtsbündig */
.footerRight {
    display: block;
    flex-flow: column;
    align-items: center;
    place-content: end space-between;
    width: auto;
    color: rgb(255, 255, 255);
    text-align: right;
}

.footerLink:hover {
    text-decoration: underline;
}


/* ProgressBar */
/* Unterliegende ganze Leiste */
.ganzeBar {
    height: fit-content;
    margin: 2%;
    border-radius: 20em;
    border: none;
}

/* Obenliegende gefüllte Leiste */
.volleBar {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 20em;
    border: none;
    color: white;
} 


/* VerfahrenBox */
.ganzeBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.boxTitle {
    overflow: hidden;
    text-decoration: underline;
    text-overflow: ellipsis;
    cursor: pointer;
    display: -webkit-box;
    -webkit-box-orient: vertical; 
}

.boxText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;  
}

/* VerfahrenList */
.greenButton {
    background-color: #8ABE1A;
    color: white;
    border-radius: 2.5em;
    border: none;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.greenButton:hover {
    box-shadow: inset 0 0 rgb(0 0 0 / 10%),
    inset 0 0 0 250px hsl(0deg 0% 100% / 20%);
    border-color: white;
}

/* TODO: Design verbessern */
.typeChangeButton {
    width: 8.5em;
    height: 2em; 
    font-size: 0.8em;
    margin: auto 0.5em auto auto;
}

.filterButton {
    display: flex;
    font-size: 0.8em;
    justify-content: space-between;
    margin: auto 0.5em auto 0.5em; 
}

.filterImg {
    height: 2em;
    width: 2em;
}

.boxList {
    display: flex;
}

.listHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    height: fit-content;
    background-color: #D9D9D9;
    margin-bottom: 1em;
    box-shadow: 
      0px 4px 4px rgba(0, 0, 0, 0.25), 
      0px 4px 4px rgba(0, 0, 0, 0.25), 
      0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filterButton {
    display: flex;
    font-size: 0.8em;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto 2%; 
}

.listHeaderTitle {
    margin-left: 0.5em;
    text-shadow: 
      0em 0.04em 0.04em rgba(0, 0, 0, 0.25), 
      0em 0.04em 0.04em rgba(0, 0, 0, 0.25);
}

/* Buttons unter der Liste */
.listFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 1em 0;
}

.loadMoreButton {
    width: 17em;
    height: 2.5em;
    font-size: 0.9em;
    margin: auto;
}

.startseiteButton {
    width: 10em;
    height: 2em;
    font-size: 0.8em;
}


/* FilterSortDialog */
.filterDialog {
    display: flex;
    flex-direction: column;
}

.filterDialogBox {
    align-self: flex-end;
    text-align: center;
    vertical-align: middle;
    height: auto;
    width: 21em;
    background-color: #D9D9D9;
    margin-bottom: 0.5em;
    border: black;
    box-shadow: 
      0px 4px 4px rgba(0, 0, 0, 0.25), 
      0px 4px 4px rgba(0, 0, 0, 0.25), 
      0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.sort {
    height: 2em;
    margin-bottom: 0.5em;
}

/* Detailansicht/VerfahrenCollapse */
.kampagnenDetails {
    display: none;
    overflow: hidden;
}

.detailPage {
    box-sizing: border-box;
    background: rgba(149, 180, 210, 0.12);
    border: 3px dashed #000000;
    padding: 1em;
}

.detailHeader {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    margin: 1em;
}

.steckbrief {
    box-sizing: border-box;
    width: 15em;
    background: #FFFFFF;
    border: 5px solid #004078;
    box-shadow: 0px 20px 12px -10px rgba(119, 119, 119, 0.25);
    border-radius: 10px;
    padding: 0.5em;
}

.detailImgSteck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Kampagnen Verlaufs Ansicht */
.verlaufMobil {
    display: none;
}


/* Anmeldung und Registrierung */
.checkin {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.anmeldform, .registform {   
    top: 133px;
    max-width: 40em;
    margin: 5em auto 1em; 
    padding: 50px; 
    text-align: left;
    font-size: x-small;
    background-color: rgba(183, 215, 239, 0.62);
    box-shadow: 0px 2px 3px grey;
}

.checkininput, .checkinbutton {
    margin: 2px 0px 13px auto;
    padding: 5px 10px;
    border: 0px;
    border-radius: 15px;
}

.checkininput{
    width: calc(100% - 5px);
    height: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 2px lightgrey;
}

.checkinbutton {
    width: 100%;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    color: white; 
    background-color: #004078;
    margin: 0.75em auto;
    box-shadow: 0px 1px 4px grey;
}

/*Speziell für Mobile*/
@media (max-width: 600px) {
    .DesktopHeader {
        display: none;
    }
    .MobileHeader {
        position: sticky;
        top: 0;
        display: block;
        background-color: #FFFFFF;
        height: 133px;
        z-index: 99;
    }
    /*Oberer Teil des Header mit Logo, Text und dropdown Menü*/
    .headerBarTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        padding: 0;
    }
    .headerLogo {
        width: 55px;
        height: 50px;
        padding: 1em;
    }

    .headerText {
        -webkit-text-stroke: 2px #B7DBFD;
        paint-order: stroke fill;
        color: #004078;
        text-align: left;
        font-size: 25px;
        line-height: 5px;
        text-shadow: 0px 4px 4px black;
        cursor: pointer;
    }

    .headerTextTop {
        font-weight: 800;
    }

    .headerTextBottom {
        font-weight: 400;
    }

    .headerMenu {
        padding: 1em;
        position: relative;
    }

    .menuSymbol {
        cursor: pointer;
        width: 24px;
        height: 16px;
    }

    .menuContent {
        display: none;
        position: absolute;
        min-width: 160px;
        background-color: #FFFFFF;
        z-index: 1;
        right: 0;
    }

    .menuContent span {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .menuContent span:hover {
        background-color: #f1f1f1;
    }

    /*Unterer Teil des Headers mit Links und der Suche*/
    .headerBarBottom {
        background-color: #004078;
        display: flex;
        justify-content: space-around;
        height: 33px;
        padding: 0.4em;
        align-items: center;
    }

    .headerBarText {
        background-color: #FFFFFF;
        padding: 5px;
        border-radius: 10px;
    }

    .headerSearch {
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 4px;
    }
  

    div.MainHeader {
        text-align: center;
    }

    div.untererInfotext{
        display:none;
    }

    div.dreistufigesModellContainer{
        background-color: #B7DBFD;
    }

    div.obererInfotext{
        background-color: #B7DBFD;
    }

    div.ueberuns{
        display:none;
    }

    div.FAQ-Header{
        display:none;
    }

    section.FAQ-container{
        display:none;
    }

    div.Inhaltsverzeichnis{
        display:none;
    }

    span.wegkürzen{
        display: none;
    }

    div.rechteSeite{
        display:grid;
    }


    div.infore{
        display:none;
    }

    div.infoli{
        width:auto;
        margin:0;
    }


    div.infore{
        display: none;
    }

    div.infoli{
        width: auto;
        margin: 0;
    }


    /* ProgressBar */
    div.ganzeBar {
        background-color: white;
        box-shadow: none;
    }

    div.ganzeBox {
        background-color: #96C7EB;
        width: 100%;
        height: 12em;
        margin: 2em 0;
        box-shadow: none;
    }


    /* VerfahrenBox */
    div.boxImg {
        display: none;
    }

    div.boxTitle {
        -webkit-line-clamp: 1;
        height: 2.5em;
        margin: auto 0.5em;
    }

    div.boxText {
        -webkit-line-clamp: 4;
        min-height: 5.7em;
        max-height: 5.73em;
        margin: 0 2% 1em;
    }

    div.boxFooter {
        width: 90%;
        margin: 0.5em auto 1em;
    }

    div.boxList {
        flex-direction: column;
        align-content: center;
    }

    div.toStart {
        display: none;
    }

    /* Kartenkarussell */
    div.currentKar {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    div.karBar {
        width: 85%;
        margin: auto;
    }

    div.karContent {
        display: flex;
        align-content: center;
        margin: 1em;
    }

    div.karFooter {
        justify-self: flex-end;
        display: flex;
        justify-content: space-around;
        margin: 0.5em;
    }


    /* Kampagnen Verlaufs Ansicht Mobil */
    .verlaufMobil {
        display: block;
        position: relative;
        text-align: center;
    }

    .verlaufGrafik {
        width: 100%;
    }

    .verlaufPhase1 {
        position: absolute;
        top: 15%;
        right: 1em;
        width: 10em;
    }

    .verlaufPhase2 {
        position: absolute;
        top: 25%;
        left: 1em;
        width: 10em;
    }

    .verlaufPhase3 {
        position: absolute;
        top: 50%;
        right: 1em;
        width: 10em;
    }

    .verlaufPhase4 {
        position: absolute;
        top: 70%;
        left: 1em;
        width: 10em;
    }

    .verlaufPhaseHeading {
        font-weight: bold;
    }

    .verlaufHeading {
        position: absolute;
        top: 1em;
        left: 1em;
        font-weight: bold;
        font-size: 30;
    }


    div.anmeldform, div.registform {
        width: 100%;
    }
}


/* Speziell für Desktop */
@media (min-width: 600px) {

    .MobileHeader {
        display: none;
    }
    
    .DesktopHeader {
        position: sticky;
        top: 0;
        display: block;
        background-color: #FFFFFF;
        width: 100%;
        height: 113px;
    }

    /*Oberer Teil des Header mit Logo, Text und dropdown Menü*/
    .headerBarTop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 0;
    }

    .headerTextBold {
        font-weight: 900;
        color: #004078;
        margin-left: 1em;
        font-size: 40px;
    }

    .headerTextNormal {
        color: #004078;
        font-size: 40px;
    }

    .headerLogo {
        height: 50px;
        margin-right: 1em;
    }

    /*Unterer Teil des Headers mit Links und der Suche*/
    .headerBarBottom {
        background-color: #004078;
        display: flex;
        justify-content: flex-end;
        height: 33px;
        padding: 0.4em;
    }

    .headerBarText {
        background-color: #FFFFFF;
        padding: 5px;
        border-radius: 10px;
        margin-right: 1em;
    }
    
    .headerSearch {
        background-color: #FFFFFF;
        border-radius: 10px;
        padding: 4px;
        margin-right: 1em;
    }

    div.ueberuns {
        background: #e8e8e8;
        text-align: left;
    }

    div.infore {
        background: #54b4f5;
        float: right;
        width: 25%;
        padding: 0 2em;
        margin: 0 0 0 2%;
        justify-content: space-between;
        text-align: left;
        display: block;
        flex-flow: column;
        place-content: end space-between;
        border-radius:10%;
    }

    div.inforeImg {
        width: auto;
        max-width: 100%;
    }

    div.infoli {
        width: 75%;
        margin: 0 2% 0 0;
    }


    /* ProgressBar */
    div.ganzeBar {
        background-color: #96C7EB;
        box-shadow: 
            0px 4px 4px rgba(0, 0, 0, 0.25), 
            0px 4px 4px rgba(0, 0, 0, 0.25);
    }


    /* VerfahrenBox */
    div.ganzeBox {
        height: 20em;
        width: 16em;
        margin: 1em;
        background-color: #F4F5F4;
        box-shadow: 
            0px 4px 4px rgba(0, 0, 0, 0.25), 
            0px 4px 4px rgba(0, 0, 0, 0.25), 
            0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    div.boxTitle {
        -webkit-line-clamp: 2;
        height: 3.83em;
    }

    div.boxText {
        -webkit-line-clamp: 4;
        height: 5.67em;
        margin: 0 2% 0;
    }

    div.boxFooter {
        width: 11em;
        margin: 0.5em auto 0.5em;
    }


    /* VerfahrenList */
    div.boxList {
        flex-flow: row wrap;
        justify-content: center;
    }

    div.karussell {
        display: none;
    }


    /* Anmeldung und Registrierung */
    div.anmeldform, div.registform {
        width: 40em; 
        height: 33em;
    }
}
