<template>
  <!--Die ID ist relevant für das Inhaltsverzeichnis, als Sprungziel-->
  <div class="ueberuns" id="Uberuns-Header"> 
      <div style="text-align:center">
        <h2><b>Über uns</b></h2>
      </div>                                
      <div>
      <p>
        Mehr Demokratie ist mit mehr als 10.000 Mitgliedern und rund 200.000 Interessentinnen und Interessenten die wohl größte 
        Nichtregierungs-Organisation für direkte Demokratie und Bürgerbeteiligung weltweit. Der gemeinnützige Verein versteht sich als 
        Fachverband und Bürgerbewegung und arbeitet überparteilich. Mehr Demokratie hat rund 40 Mitarbeitende und ist mit Landesverbänden in 
        allen Bundesländern vertreten. Ein Kuratorium mit Personen aus Wissenschaft, Kultur und Politik berät den Verein.
        Mehr Demokratie ist Gründungsmitglied von Democracy International und Schwesterorganisation des OMNIBUS für direkte Demokratie.
      Genauere Informationen finden sie auf der <a href="https://www.mehr-demokratie.de/ueber-uns/profil" target="_blank">Homepage</a> von Mehr Demokratie.      </p>
      </div>
      </div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component';



export default class UberUns extends Vue { }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>