<template>
    <div class="ganzeBox">
      <div>
        <div class="boxImg">
          <img alt="Verfahren Bild" :src="require(`@/assets/${(verfahren.id%3)}.png`)" style="margin: 2% 2% 0; width: 96%; height: 6em; border-radius: 1em;"> <!-- Pfad(?) muss für Backend angepasst werden -->
        </div>
        <div>
          <div class="boxTitle" @click="geheZuDetails">
            <h3>{{ verfahren.title }}</h3>
          </div>
          <div class="boxText">
            <p>{{ verfahren.description }}</p>
          </div>
        </div>
      </div>
      <div class="boxFooter">
        <ProgressBar :phase="verfahren.phase" :success="verfahren.success"/> 
      </div>  
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import type { PropType } from 'vue';
import { useStore } from '@/store';
import ProgressBar from '@/components/ProgressBar.vue';

interface Verfahren {
    id: number;
    title: string;
    phase: number;       // 0: 1. Phase, 1: 2. Phase, 2: 3. Phase
    success: number;     // 0: laufend, 1: erfolgreich, 2: gescheitert
    description: string;
}

export default defineComponent({
  name: "VerfahrenBox",
  components: {
    ProgressBar
  },
  props: {
    verfahren: {
      type: Object as PropType<Verfahren>,
      required: true,
    }
  },
  methods: {
    geheZuDetails() {
      const store = useStore();
      store.setChosenVerfahren(this.verfahren.id);
      let elem = document.getElementById("kampagnenDetails");
      if (elem) {
        elem.style.display = "block";
        store.scrollToId("kampagnenDetails");
      }
    }
  },
});
</script>

<style scoped>

</style>