<template>
    <div id="kampagnenDetails" class="kampagnenDetails">
      <div style="display: flex; justify-content: flex-end;">
          <button type="button" class="greenButton" @click="scrollToList" style="width: 8em; height: 2em; margin: 3em 0.5em">Zur Übersicht</button>
        </div>
        <div type="box" style="width: 100%; height: 1em; background-color: #004078;"></div>
        <div class="detailPage">
          <div class="detailHeader">
            <button class="greenButton" style="width: 8em; height: 2em; margin: auto 2em;">Dokumente</button>
            <div class="socialLinks">
              <a href="https://www.instagram.com/" target="_blank"><img alt="Instagram Link" src="@/assets/instagram.svg"></a>
              <a href="https://twitter.com/" target="_blank"><img alt="Twitter Link" src="@/assets/twitter.svg"></a>
              <a href="https://www.facebook.com/" target="_blank"><img alt="Facebook Link" src="@/assets/facebook.svg"></a>
              <a href="https://www.whatsapp.com/" target="_blank"><img alt="WhatsApp Link" src="@/assets/whatsapp.svg"></a>
              <a><img alt="Share Link" src="@/assets/share.svg"></a>
            </div>
          </div>
          <div class="detailImgSteck">
            <img alt="Verfahren Bild" :src="require(`@/assets/${(store.chosenVerfahren.id%4)}.png`)" style="width: 40em; max-width: 100%;">
            <div class="steckbrief">
              <h4 class="steckbriefTitle">Steckbrief</h4>
              <div class="steckbriefText" style="text-align:left">
                <b>Phase</b>: {{ store.chosenVerfahren.phase+1 }} <br><br>
                <b>Beginn</b>: {{ store.chosenVerfahren.created.toDateString() }} <br><br>
                <b>Ende</b>: {{ store.chosenVerfahren.end.toDateString() }} <br><br>
                <b>Status</b>: {{ status(store.chosenVerfahren.success) }} <br><br>
              </div>
              <div class="socialLinks">
                <a href="https://www.instagram.com/" target="_blank"><img alt="Instagram Link" src="@/assets/instagram.svg"></a>
              <a href="https://twitter.com/" target="_blank"><img alt="Twitter Link" src="@/assets/twitter.svg"></a>
              <a href="https://www.facebook.com/" target="_blank"><img alt="Facebook Link" src="@/assets/facebook.svg"></a>
              <a href="https://www.whatsapp.com/" target="_blank"><img alt="WhatsApp Link" src="@/assets/whatsapp.svg"></a>
                <a><img alt="Share Link" src="@/assets/share.svg"></a>
              </div>
            </div>
          </div>
          <button class="greenButton" style="font-weight: 700; height: 2em; width: 8em; float: right; margin: 1em;">Mehr erfahren</button>
          <div style="text-align: left">
            <p>Träger oder Trägerin: {{ store.chosenVerfahren.carrier }}</p>
            <h3>{{ store.chosenVerfahren.title }}</h3>
            <p>{{ store.chosenVerfahren.description }}</p>
          </div>
          <div>
            <p><b>Wo kann man unterschreiben?</b></p>
            <p>Ort</p>
          </div>
          <div>
            <ProgressBar :phase="store.chosenVerfahren.phase" :success="store.chosenVerfahren.success" />
          </div>
        </div>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { useStore } from '@/store';
import ProgressBar from './ProgressBar.vue';

export default defineComponent({
    name: "VerfahrenBox",
    components: {
      ProgressBar
    },
    setup() {
      const store = useStore();
      return { store }
    },
    methods: {
      scrollToList() {
        const details = document.getElementById("kampagnenDetails");
        if (details) {
          details.style.display = "none";
        }
        this.store.scrollToId('listHeader');
      },
      status(success : number) {
        switch(success) {
          case (0):
            return 'Laufend';
          case (1):
            return 'Erfolgreich abgeschlossen';
          case (2):
            return 'Gescheitert';
          default:
            console.error('Unknown value for success in VerfahrenCollapse');
            return 'Fehler';
        }
      }
    },
});
</script>

<style scoped>

</style>
