<template>
  <!-- ListHeader (nur Desktop) -->
  <div id="listHeader" class="listHeader">
    <h2 class="listHeaderTitle">{{ store.abgeschlossen ? "Übersicht abgeschlossener Verfahren" : "Übersicht laufender Verfahren" }}</h2>
    <button class="greenButton typeChangeButton" @click="store.abgeschlossen = !store.abgeschlossen">{{ store.abgeschlossen ? "laufend" : "abgeschlossen" }}</button> <!-- Bei Gelegenheit: Design verbessern, klarer machen (Bilder?) -->
    <button class="greenButton filterButton" @click="store.filterVisible = !store.filterVisible">
      <img class="filterImg" alt="Filtersymbol" src="@/assets/filter.svg"/>
    </button>
  </div>

  <!-- Filter- und Sortierdialog (nur Desktop) -->
  <div class="listFilterDialog">
    <FilterSortDialog v-show="store.filterVisible" />
  </div>

  <!-- Boxen -->
  <div class="boxList">
    <div v-for="item in store.verfahrenList" :key="item.id">
      <VerfahrenBox :verfahren="item" />
    </div> 
  </div>

  <!-- ListFooter -->
  <div class="listFooter">
    <button class="greenButton loadMoreButton" @click="loadMore">Weitere Kampagnen anzeigen</button>
    <div class="toStart">
      <button v-if="store.listLimit < store.maxListLength" class="greenButton startseiteButton" @click="scrollToTop">Zur Startseite</button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useStore } from '@/store';
import VerfahrenBox from "@/components/VerfahrenBox.vue";
import FilterSortDialog from "./FilterSortDialog.vue";

export default defineComponent({
  name: "VerfahrenList",
  setup() {
    let store = useStore();
    return { store }
  },
  created() {
    this.store.getBackendData();
  },
  components: {
    VerfahrenBox,
    FilterSortDialog,
  },
    methods: {
      scrollToTop() {
      window.scrollTo(0, 0); // scrolled ganz nach oben (zu Position (0,0))
      },
      loadMore() { // funktioniert noch nicht!
        if (this.store.listLimit < this.store.maxListLength - 5) {
          this.store.listLimit = this.store.listLimit + 5;
        }
        else {
          this.store.listLimit = this.store.maxListLength;
        }
        this.store.getBackendData();
      }
    },  
  });
</script>
  
<style scoped>

</style>
  