<template>
    <div class="verlaufMobil">
        <h2 class="verlaufHeading">Ein Überblick</h2>
        <img class="verlaufGrafik" src="../assets/verlauf.png"/>
        <div class="verlaufPhase1">
            <p class="verlaufPhaseHeading">1. Antrag auf eine Volksbeteiligung</p>
            <p class="verlaufPhaseText">20.000 bzw 50.000 gültige Unterschriften notwendig</p>
        </div>
        <div class="verlaufPhase2">
            <p class="verlaufPhaseHeading">2. Durchführung eines Volksbegehrens</p>
            <p class="verlaufPhaseText">Gültige Unterschriften von 7% bzw 20% der Wahlberechtigten notwendig</p>
        </div>
        <div class="verlaufPhase3">
            <p class="verlaufPhaseHeading">3. Volksentscheid</p>
            <p class="verlaufPhaseText">Zustimmung der Mehrheit sowie mindestens 25% der Wahlberechtigten notwendig</p>
        </div>
        <div class="verlaufPhase4">
            <p class="verlaufPhaseHeading">4. Gesamtergebnis</p>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component';

export default class VerlaufMobil extends Vue { }
</script>

<style scoped>

</style>
