<template>
  <router-view/>
</template>

<script lang="ts">
export default {
  name: "App"
}
</script>

<style>
@import './components/style.scss';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
